body {
	background-color:#777;
	width:960px;
	overflow:scroll;
}

.text {
	font-family:"Arial", "Helvetica Neue", Helvetica, sans-serif;
	font-size:18px;
	color:#777;
}

.header {
	background-color:#ebebeb;
	text-align:center;
	padding:25px 100px 25px 100px;
	margin:5px 25px 5px 8%;
}

.nav {
	background-color:#ebebeb;
	text-align:center;
	padding:25px 100px 25px 100px;
	margin:5px 25px 5px 8%;

}

.section {
	float:left;
	display:inline-block;
	width:495px;
	background-color:#ebebeb;
	text-align:center;
	padding:25px 75px 25px 75px;
	margin:5px 5px 5px 8%;
}

.article {
	background-color:#777;
	color:#ebebeb;
	text-align:center;
	padding:5px 50px 5px 50px;
}

.h1 {
	background-color:#ebebeb;
	color:#777;
	text-align:center;
	padding:5px 100px 5px 100px;
}

.p {
	background-color:#ebebeb;
	color:#777;
	text-align:center;
	padding:5px 100px 5px 100px;
	margin-top:5px;
	margin-bottom:10px;
}

.aside {
	float:left;
	width:auto;
	display:inline-block;
	background-color:#ebebeb;
	text-align:center;
	padding:25px 82px 230px 82px;
	margin-top:5px;
	margin-bottom:5px;
}
.clear {
	clear:both;
}

.footer {
	display:block;
	background-color:#ebebeb;
	text-align:center;
	padding:25px 100px 25px 100px;
	margin:5px 25px 5px 8%;
}
